
body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #eeebd0;
}

text {
  fill: #999;
}

h1, h2, h3, h3, h3 {
  margin: 0px 0 0 20px;
}

h3 {
  font-weight: normal;
  text-size: 16px;
  color: #393e41;
}

.list {
  list-style: upper-roman;
}

.list-item {
  margin: 5px;
}

.annotation-note-label, .annotation-xy-label {
  font-size: 10px;
  fill: #666;
}

.annotation-connector .connector {
  stroke-dasharray: 3,1;
  stroke-width: 1px;
}

circle {
  opacity: 0.5;
  r: 5px;
}

.tick-line {
  opacity: 0.4;
}

.annotation-subject path {
  stroke-dasharray: 3, 1;
  stroke-width: 1px;
}

.recession .annotation-subject path {
  fill-opacity: 0.15;
  opacity: 1;
  stroke-opacity: 0;
  fill: rgb(150,150,150);
}

.note-line {
  opacity: 0;
}

.recession .note-line {
  opacity: 1;
}

.gas .tick-line {
  opacity: 0;
}

.deathMiles .tick-line {
  opacity: 0;
}

.population .tick-line {
  opacity: 0;
}

.miles .tick-line {
  opacity: 0;
}

.container {
  position: absolute;
}
.population, .deathPopulation {
  top: 90px;
  left: 20px;
}
.miles, .deathMiles, .gas {
  top: 300px;
  left: 20px;
}
.alcohol, .deathAlcohol {
  top: 510px;
  left: 20px;
}

.legend {
  font-size: 12px;
}

.deathLegend {
  top: 172px;
  left: 515px;
  color: #393e41;
}

.popLegend {
  top: 123px;
  left: 515px;
  color: #da4167;
}

.milesLegend {
  top: 302px;
  left: 515px;
  color: #15b097;
}

.gasLegend {
  top: 395px;
  left: 515px;
  color: #d86641;
}

.alcLegend {
  top: 585px;
  left: 515px;
  border-bottom: 4px solid #fadfa1;
}

.nonAlcLegend {
  top: 635px;
  left: 515px;
  border-bottom: 4px solid #f3d569;
}

.description strong {
  color: #222;
}

h1, h2, h3, .description {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.description {
  left: 700px;
  width: 450px;
  color: #666;
  padding-left: 35px;
  border-left: 1px solid #393e41;
}

.pop {
  top: 100px;
}

.miles {
  top: 290px;
}

.alc {
  top: 550px;
}

.clickable {
  cursor: pointer;
}
