
body {
  background-color: #eeebd0;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: #393e41;
  line-height: 1.3;
}

text {
  font-size: 10px;
  font-family: Helvetica, Arial, sans-serif;
}

.normal {
  fill: #999;
}

.female {
  fill: #ea91b7;
}

.male {
  fill: #999999;
}

h1, h2, h3, h3, h3 {
  margin: 0 0 2px 2px;
  font-size: 24px;
}

h3 {
  font-weight: bold;
  font-size: 16px;
  color: #393e41;
}

.list {
  margin: 0;
  padding: 0 0 0 26px;
  list-style: upper-roman;
}

.list--plain {
  margin: 0;
  padding: 0 0 0 20px;
  list-style: none;
}

.list-item {
  margin: 5px;
}

.annotation-connector .connector {
  stroke-dasharray: 3,1;
  stroke-width: 1px;
}

circle {
  opacity: 0.5;
  r: 5px;
}

.icon {
  r: 50px;
}

.overviewContainer {
  display: flex;
}

.leftOverview, .rightOverview {
  width: 50%;
  padding: 10px;
}

.leftOverview {
  flex: 1;
}

.leftOverview ul {
  text-align: right;
  list-style-position: inside;
  padding-left: 0;
}

.leftOverview ul {
  text-align: right
  list-style-position: inside;
  padding-left: 0;
}

.right-list {
  padding-left: 15px;
}

.rightOverview ul {
  float: left;
  text-align: left;
}


.tick-line {
  opacity: 0.3;
}

.axis-tick-lines {
  opacity: 1;
}

.slopeTick .tick-line {
  opacity: 0;
}

.slopeTick .axis-tick-line {
  opacity: 0;
}

.annotation-subject path {
  stroke-dasharray: 3, 1;
  stroke-width: 1px;
}

.recession .annotation-subject path {
  fill-opacity: 0.15;
  opacity: 1;
  stroke-opacity: 1;
  fill: rgb(150,150,150);
}

.note-line {
  opacity: 0;
}

.recession .note-line {
  opacity: 1;
}

.gas .tick-line {
  opacity: 0;
}

.deathMiles .tick-line {
  opacity: 0;
}

.population .tick-line {
  opacity: 0;
}

.miles .tick-line {
  opacity: 0;
}

.container {
  position: absolute;
}
.population, .deathPopulation {
  top: 60px;
  left: 5px;
}
.miles, .deathMiles, .gas {
  top: 270px;
  left: 5px;
}
.alcohol, .deathAlcohol {
  top: 480px;
  left: 5px;
}

.legend {
  font-size: 12px;
  width: 100px;
}

.deathLegend {
  top: 142px;
  left: 375px;
  color: #393e41;
}

.popLegend {
  top: 93px;
  left: 375px;
  color: #da4167;
}

.milesLegend {
  top: 272px;
  left: 375px;
  color: #15b097;
}

.gasLegend {
  top: 330px;
  left: 375px;
  color: #d86641;
}

.alcLegend {
  top: 555px;
  left: 375px;
  border-bottom: 4px solid #fadfa1;
}

.nonAlcLegend {
  top: 605px;
  left: 375px;
  border-bottom: 4px solid #f3d569;
}

.description strong {
  color: #222;
}

h1, h2, h3, .description {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.description {
  left: 500px;
  width: 400px;
  color: #666;
  padding-left: 35px;
  border-left: 1px solid #393e41;
}

.pop {
  top: 70px;
}

.miles {
  top: 260px;
}

.alc {
  top: 560px;
}

.clickable {
  cursor: pointer;
}

.responsive-container {
  width: 100%;
}

html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

.chartContainer {
  margin: 0;
  padding: 5px;
  overflow: visible;
}

.abChartContainer {
  position: absolute;
  top: 61px;
  width: 100%;
  overflow-y: hidden;
  margin: 0;
}

.main {
}

.barText {
  fill: #555;
  font-size: 16px;
}

.episodes {
  top
}

.nextReport {
  margin-top: 25px;
}

.characterList, .navList {
  list-style-type: none;
  padding: 0 0 0 0;
}

.navList, .list--plain {
  padding-left: 0;
  text-align: center;
}

.characterListItem, .navListItem, .sketchListItem {
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.characterListItem {
  width: 110px;
}

.navListItem {
  margin: 10px 10px 10px 10px;
}

.sketchListItem {
  margin: 10px 5px 5px 5px;
}

.characterTitle {
  font-weight: bold;
}

.annotationBlock {
  text-align: center;
}

@media screen and (min-width: 600px) {
    .chartContainer {
      width: 600px;
      margin: auto;
    }

    .abChartContainer {
      width: 590px;
      margin: auto;
    }

    .chartContainerLeft {
      width: 600px;
    }
    .chartContainerWide {
      width: 100%;
      margin: auto;
    }
}

a:link, a:visited {
  color: #393e41;
}

.annotation, .annotation-xy-label {
  padding: 10px;
  background-color: rgba(0,0,0,0.5);
  color: #eeeeee;
  font-size: 12px;
}

.autoNav {
  position: absolute;
  text-align: center;
  left-padding: 0;
  top: 680px;
  width: 375px;
}

.autoSketch {
  position: absolute;
  top: 750px;
}

.sketch {
  width: 340px;
}

.axis-baseline {
  opacity: 0;
}

.annotation circle {
  opacity: 0;
}

.smallMultiples {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.smallMultiple {
  margin-bottom: 0px;
  width: 140px;
  height: 50px;
}

.label-bold {
  font-size: 13px;
}

.button {
  border-radius:4px;
  display:inline-block;
  cursor:pointer;
  padding:7px 35px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
}
.button:hover {
  background-color:#5cbf2a;
}
.button:active {
  position:relative;
  top:1px;
}

.button.on {
  background-color:#44c767;
}

.button.off {
  background-color:#cccccc;
}

.avatar {
  border-radius: 50%;
}
